$brandcolor: #e1ecf5 !default;
$headercolor: #ffffff !default;
$headertextcolor: #00bada !default;
$leftmenumainitemcolor: #ffffff !default;
$leftmenuitemhovercolor: #f4f4f4 !default;
$leftmenuitemstextcolor: #060100 !default;
$leftmenusubitemcolor: #ffffff !default;
$sectionheadercolor: #00bada !default;
$sectionhovercolor: #00b8dc !default;
$coursebtncolor: #00bada !default;
$coursebtnhovercolor: #2a6a97 !default;
$coursetilecolor: #e1ecf5 !default;
$coursetiletextcolor: #727477 !default;
$footercolor: #00bada !default;


.pagelayout-login {
  .login-form-guest-login {
    a {
      color: $headertextcolor;
    }
  }

  #guest-login-btn {
    border: none;
    background-color: inherit;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    color: $headertextcolor;
  }

  #page {
    margin-top: 0 !important;
  }

  .card {
    background: none;
  }

  .card-body {
    background: #fff;
  }

  form {
    input {
      border-radius: unset;
      border: none;
      border-bottom-color: currentcolor;
      border-bottom-style: none;
      border-bottom-width: medium;
      border-bottom: 1px solid #d0d0d0;
    }

    .rememberpass input {
      margin-bottom: 0;
    }
  }

  .btn {
    border-radius: 1rem;
    border: none;
  }

  #login-page-main-content-container {
    padding: 20px;
    background-color: rgba($headercolor, 0.75);
    border-radius: 4px;

    h2 img {
      max-width: 100%;
    }
  }

  .login-centre-vertically {
    display: table;
    height: 100vh;
  }

  .login-centred-vertically {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
  }

  #login-left-container {
    border-right: 1px dotted rgba(0, 0, 0, .1);
  }

  #login-right-container {
    border-left: 1px dotted rgba(0, 0, 0, .1);
  }

  #login-left-logo-container img {
    max-width: 100%;
  }

  h2, #login-welcome-title, #login-welcome-msg, #login-first-time, #login-first-time a, .forgetpass a {
    color: $headertextcolor;
  }

  #login-welcome-title {
    text-align: center;
  }

  .login-form-alternative-methods {
    text-align: center;
  }

  #login-form-or {
    text-align: center;
    margin-bottom: 15px;
  }

  #login-form-hr {
    margin-top: 5px;
  }

  .login-form-body {
    width: 75%;
    max-width: 250px;
    margin: auto;
  }

  .login-input {
    width: calc(100% - 5px);
    display: inline-block;
  }

  #loginbtn {
    width: calc(100% - 5px);
  }

  #login-caps-lock-warning-icon {
    float: right;
    margin-right: -17px;
    margin-top: 7px;
    color: #f00;
    display: none;
  }

  input[type="text"], input[type="password"] {
    background-color: #eee;
    border: none;
    border-radius: 17px;

    &:focus {
      background-color: #fff;
    }
  }

  form#guestlogin {
    display: inline-block;

    &.login-full-width {
      margin-left: 0;
      width: 100%;
    }

    .btn-primary {
      margin-top: 0;

      &.login-full-width {
        width: 100%;
      }
    }
  }

  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-color: $sectionheadercolor;
  }

  .potentialidp {
    display: inline-block;
    margin: 0 10px 20px;
  }
}

.login-input-fa-icons {
  position: relative;
  float: right;
  top: 22px;
  color: #6e6e6e;
  font-size: 15px;
}

#login-page-backdrop {
  left: 0;
  top: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  z-index: -999999;
  position: fixed;
}

#login-page-backdrop-img-wrapper {
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
  z-index: -999999;
}

#login-page-backdrop-img {
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  background-size: cover;
}

@media only screen and (max-width: 420.99px) {
  .login-form-body {
    width: 100% !important;
  }
}

@media only screen and (min-width: 421px) and (max-width: 575px) {
  .login-form-body {
    width: 100% !important;
  }
  .hidden-xs-down {
    display: none;
  }
  .hidden-sm-up {
    display: block;
  }
}


