{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/loginform

    Moodle template for the login page.

    Context variables required for this template:
    * autofocusform: Auto focus on form ?,
    * canloginasguest - Is guest login allowed?,
    * canloginbyemail - Is login by email allowed?,
    * cansignup - Signup allowed?,
    * cookieshelpicon - cookies help icon details
    * error - Any errors in the form?,
    * forgotpasswordurl - Forgot password url,
    * hasidentityproviders - Flag, set to true to hide identity providers,
    * hasinstructions - Flag, set to true to show instructions,
    * identityproviders - List of identiy providers,
    * instructions - Instructions,
    * instructionsformat - Format of instructions,
    * loginurl - Login url,
    * rememberusername - Remeber username?,
    * signupurl - Signup url,
    * cookieshelpiconformatted - Formatted html of cookies help icon,
    * errorformatted - Formatted error,
    * logourl - Flag, logo url,
    * sitename - Name of site.
    * logintoken - Random token to protect login request.

    Example context (json):
    {
        "autofocusform": false,
        "canloginasguest": "1",
        "canloginbyemail": false,
        "cansignup": true,
        "cookieshelpicon": {
            "heading": "Cookies must be enabled in your browser",
            "text": "<div class=\"no-overflow\">Two cookies are used on this site. Both died..</div>",
            "icon": {
                "attributes": [
                    {
                        "name": "class",
                        "value": "iconhelp"
                    },
                    {
                        "name": "alt",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "title",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "src",
                        "value": "http://localhost/stable_master/theme/image.php?theme=boost&component=core&image=help"
                    }
                ]
            },
            "linktext": null,
            "title": "Help with Cookies must be enabled in your browser",
            "url": "http://localhost/stable_master/help.php?component=core&identifier=cookiesenabled&lang=en",
            "ltr": true
        },
        "error": "",
        "forgotpasswordurl": "http://localhost/stable_master/login/forgot_password.php",
        "hasidentityproviders": false,
        "hasinstructions": true,
        "identityproviders": [],
        "instructions": "For full access to this site, you first need to create an account.",
        "instructionsformat": "1",
        "loginurl": "http://localhost/stable_master/login/index.php",
        "rememberusername": true,
        "signupurl": "http://localhost/stable_master/login/signup.php",
        "cookieshelpiconformatted": "",
        "errorformatted": "",
        "logourl": false,
        "sitename": "Beer & Chips",
        "logintoken": "randomstring"
    }
}}

<div class="text-right" id="login-logo-container">
    {{#logourl}}
        <a><img src="{{logourl}}" title="{{sitename}}" alt="{{sitename}}"/></a>
    {{/logourl}}
    {{^logourl}}
        <a>{{sitename}}</a>
    {{/logourl}}
</div>

<div class="row">
    <div class="col-12">
        <div id="login-page-main-content-container">
            <div class="row">

                <div class="col-xl-9 col-lg-8 col-md-7 col-sm-7 col-12" id="login-left-container">
                    {{#has_welcome}}
                        <div class="text-left login-welcome-text">
                            {{{welcometitle}}}
                        </div>
                        <div class="text-left login-welcome-text">
                            {{{welcomemsg}}}
                        </div>
                    {{/has_welcome}}
                </div>
                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-12" id="login-form-container">
                    <div class="login-form-body">
                        {{#error}}
                            <div class="loginerrors mt-1">
                                <a href="#" id="loginerrormessage" class="accesshide">{{error}}</a>
                                <div class="alert alert-danger" role="alert" data-aria-autofocus="true">{{error}}</div>
                            </div>
                        {{/error}}
                        <div class="mb-4">
                            {{{logintitle}}}
                        </div>
                        <form class="" action="{{loginurl}}" method="post" id="login">
                            <input id="anchor" type="hidden" name="anchor" value="">
                            <script>document.getElementById('anchor').value = location.hash;</script>
                            <input type="hidden" name="logintoken" value="{{logintoken}}">
                            <div class="form-group">
                                <label for="username" class="sr-only">
                                    {{^canloginbyemail}}
                                        {{#str}} username {{/str}}
                                    {{/canloginbyemail}}
                                    {{#canloginbyemail}}
                                        {{#str}} usernameemail {{/str}}
                                    {{/canloginbyemail}}
                                </label>
                                <span class="fa fa-user form-control-feedback login-input-fa-icons" aria-hidden="true"></span>
                                <input type="text" name="username" id="username"
                                       class="form-control login-input"
                                       value="{{username}}"
                                       placeholder={{#quote}}{{^canloginbyemail}}{{#str}}username{{/str}}{{/canloginbyemail}}{{#canloginbyemail}}{{#str}}usernameemail{{/str}}{{/canloginbyemail}}{{/quote}}
                                       autocomplete="username">
                            </div>
                            <div class="form-group">
                                <label for="password" class="sr-only">{{#str}} password {{/str}}</label>
                                <span class="fa fa-lock form-control-feedback login-input-fa-icons" aria-hidden="true"></span>
                                <input type="password" name="password" id="password" value=""
                                       class="form-control login-input"
                                       placeholder={{#quote}}{{#str}}password{{/str}}{{/quote}}
                                       autocomplete="current-password">
                                <i id="login-caps-lock-warning-icon" class="fa fa-arrow-circle-up"
                                   title="{{#str}} capslock_help, theme_learnbook{{/str}}"></i>
                            </div>

                            <div class="rememberpass mb-4 custom-control custom-checkbox">
                                <input type="checkbox" name="rememberusername" id="rememberusername"
                                       class="custom-control-input" value="1"
                                       {{#username}}checked="checked"{{/username}} />
                                <label for="rememberusername" class="custom-control-label">{{#str}}
                                    rememberusername, admin {{/str}}</label>

                            </div>


                            <button type="submit" class="btn btn-primary btn-block mt-3" id="loginbtn">{{#str}}
                                login{{/str}}</button>
                        </form>
                        <div class="forgetpass text-left mt-3">
                            <p><a href="{{forgotpasswordurl}}">{{#str}}
                                resetfields, theme_learnbook {{/str}}</a>
                            </p>
                        </div>

                    </div>

                    <div class="mt-3 mb-4 login-form-alternative-methods"{{^hasidentityproviders}}
                         style="display:none;"{{/hasidentityproviders}}>
                        <div class="mb-3 text-left" id="login-form-or">{{#str}} or, theme_learnbook {{/str}}</div>
                        {{#hasidentityproviders}}
                            <div class="container idp-container">
                                <div class="row">
                                    {{#identityproviders}}
                                        <div class="col-12 mb-3 potentialidp-container">
                                            <div class="potentialidp">
                                                {{#iconurl}}
                                                    <a href="{{url}}" title={{#quote}}{{name}}{{/quote}}
                                                       class="btn btn-primary">
                                                        <span>
                                                        {{#iconurl}}
                                                            <img src="{{iconurl}}"/>
                                                        {{/iconurl}}
                                                        {{name}}
                                                        </span>
                                                    </a>
                                                {{/iconurl}}

                                            </div>
                                        </div>
                                    {{/identityproviders}}

                                </div>
                            </div>
                        {{/hasidentityproviders}}
                    </div>
                    {{#hasinstructions}}
                        <div id="login-first-time">{{#str}}firsttime{{/str}}
                            {{#cansignup}}
                                <a href="{{signupurl}}">{{#str}}sign_up, theme_learnbook{{/str}}
                                </a>
                            {{/cansignup}}
                        </div>
                    {{/hasinstructions}}
                    <div class="login-form-guest-login text-left mt-3"{{^canloginasguest}}
                         style="display:none;"{{/canloginasguest}}>
                        {{#canloginasguest}}
                            <form action="{{loginurl}}" method="post" id="guestlogin">
                                <input type="hidden" name="logintoken" value="{{logintoken}}">
                                <input type="hidden" name="username" value="guest"/>
                                <input type="hidden" name="password" value="guest"/>
                                <button type="submit" id="guest-login-btn">{{#str}}
                                    guest_login_desc, theme_learnbook{{/str}}</button>
                            </form>
                        {{/canloginasguest}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#js}}
    {{#error}}
        require(['jquery'], function($) {
        $('#loginerrormessage').focus();
        });
    {{/error}}
    {{^error}}
        {{#autofocusform}}
            require(['jquery'], function($) {
            if ($('#username').val()) {
            $('#password').focus();
            } else {
            $('#username').focus();
            }
            });
        {{/autofocusform}}
    {{/error}}
{{/js}}
